# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
data_process/.ipynb_checkpoints
data_process/digit_600.*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.DS_Store



# database config file
server/config/db.go
#server/src/danmakuBackend/config/config.json
server/src/danmakuBackend/danmakuBackend
server/src/danmakuBackend/config/*


# emacs temp file
*~

# github golang libe
server/src/github.com
server/pkg


.idea/

server/frontend/images/

*.flv
*.jpg
*.mp4