# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.DS_Store


# database config file
backend/config/db.go
src/danmakuBackend/config/config.json
src/danmakuBackend/danmakuBackend
./src/danmakuBackend/config/*

# emacs temp file
*~

# github golang libe
src/github.com

.idea/

frontend/images/

*.flv
*.jpg
*.mp4