
html{
    background-color: #000000;
}
.danmaku{
    position: absolute;
    left: 0;
    top:  0;
}
.comment{
    opacity: 0.85;
    position: absolute;
    white-space: nowrap;
    text-shadow: 2px 2px 4px #000;
    font-size: 36px;
    font-family: "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}
.log{
    color: #FFF;
    font-family: "Menlo", "sans-serif";
    display: none;
    z-index: 10000;
}